@model tatu_company.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>ViewBag.Title </h2>

@using (Html.BeginForm("Nuevo","Cliente", FormMethod.Post)) {
<div class="row">
    <div class="col-md-12">
        @Html.LabelFor(d => d.nombre)
        @Html.TextBoxFor(d => d.nombre, "", new { Qclass = "form-control" })
        @Html.LabelFor(d => d.edad)
        @Html.TextBoxFor(d => d.edad, "", new { Qclass = "form-control" })
        @Html.LabelFor(d => d.telefono)
        @Html.TextBoxFor(d => d.telefono, "", new { Qclass = "form-control" })
        @Html.LabelFor(d => d.correo)
        @Html.TextBoxFor(d => d.correo, "", new { Qclass = "form-control" })

    </div>


</div>
}
